
<div class="row">
    <div class="col-md-4">
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../assets/course1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">UPPSC</h5>
      <p class="card-text">Content To be added</p>
      <a class="btn btn-primary" [routerLink]="['/join']">join us now</a>
    </div>
  </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../assets/course2.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">UPPSC</h5>
          <p class="card-text">Content to be added</p>
          <a  class="btn btn-primary" [routerLink]="['/join']">join us now</a>
        </div>
      </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../assets/cc3.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">UPPSC</h5>
              <p class="card-text">Content to be added</p>
              <a [routerLink]="['/join']" class="btn btn-primary">join us now</a>
            </div>
          </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../assets/cc4.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">UPPSC</h5>
                  <p class="card-text">Content to be added</p>
                  <a [routerLink]="['/join']" class="btn btn-primary">Join us now</a>
                </div>
              </div>
              </div>
              <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../assets/cc5.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">UPPSC</h5>
                      <p class="card-text">Content to be added</p>
                      <a [routerLink]="['/join']" class="btn btn-primary">Join us now</a>
                    </div>
                  </div>
                  </div>
</div>
<div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#"> Assignment</a>
  </div>