
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/home/shadix/Music/page/src/app/app.component.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<div class="row">
<div class="column">
  
  <div class="pad-3">
    <h1 style="font-family: cursive;">Join The Classes</h1>
  <H2>Download the Mobishaala App</H2>
  <h3>Login using Institute Code</h3>
  <h4>Pics 1005</h4>
 

</div>
</div>
<div class="column">
  <img src="../assets/Mobishaala logo.png" alt="" style="padding-left: 8%;width: 52%;">
 
</div>
<div class="column">
  <img src="../assets/logo .png" alt="" style="width: 45%;padding-left:10% ;">
 
</div>

</div>

<div class="row">
  <div class="column">
    
    <div class="pad-1">
      <a href="https://play.google.com/store/apps/details?id=com.mobishaala.app&hl=en_IN">
    <img src="../assets/google-play-badge.png" alt="Forest" style="width:92%"></a>
  </div>

</div>
  <div class="column">
    <div class="pad-2">
      <a href="https://apps.apple.com/us/app/mobishaala/id1316602075">
    <img src="../assets/apple.jpg" alt="Mountains" style="width:80%"></a>
  </div>
</div>

  <div class="column">
    <img src="../assets/screen.png" alt="Snow" style="width:90%">
  </div>
  
</div>

<div class="row">
  <div class="column-1" style="background-color: black;">
    <p>

<h2 style="font-family: 'Times New Roman', Times, serif;color: white;">About Prabha Institute of Civil Services</h2>
<p style="font-family: 'Times New Roman', Times, serif;color: white;">Prabha institute of Civil Services was established on 15th August, 2002. 
  <br>It is for the benefit of the students who want to prepare for Public Administration but find limited options when it comes to Hindi medium.
    </p>
  

  </div>
</div>
<div class="footer-copyright text-center py-3">© 2020 Copyright:
  <a href="#"> Assignment</a>
</div>